 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 689px;
}

.u-section-1 .u-image-1 {
  width: 150px;
  height: 150px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.8);
  background-image: url("images/41fa223aa95766e0cf1fb4cc2a22798b.png?rand=de59");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  animation-timing-function: ease;
  margin: 112px auto 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(255,255,255,0.4);
  margin: 50px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 0 auto 60px;
}

.u-section-1 .u-line-1 {
  width: 156px;
  left: 321px;
  top: 374px;
  transform-origin: right center 0px;
  position: absolute;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-line-2 {
  width: 156px;
  left: auto;
  top: 374px;
  transform-origin: right center 0px;
  position: absolute;
  right: 321px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-rotate: 0deg;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    left: 225px;
  }

  .u-section-1 .u-line-2 {
    right: 225px;
  }
} .u-section-2 {
  background-image: linear-gradient(#333333, #816ba6);
}

.u-section-2 .u-sheet-1 {
  min-height: 659px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 69px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 549px;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-shape-1 {
  height: 421px;
  width: 472px;
  margin: 59px 0 0 auto;
}

.u-section-2 .u-image-1 {
  width: 457px;
  height: 421px;
  object-position: 50% 13.91%;
  --radius: 50px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -442px 15px 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 549px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 20px 310px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 393px 0 53px;
}

.u-section-2 .u-text-3 {
  margin: -30px 25px 0 5px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  font-family: 'Open Sans',sans-serif;
  margin: -35px auto 0 0;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  width: 16px;
}

.u-section-2 .u-text-4 {
  margin: -6px auto 0 5px;
}

.u-section-2 .u-social-icons-1 {
  height: 38px;
  min-height: 16px;
  width: 182px;
  min-width: 94px;
  margin: 0 auto 0 5px;
}

.u-section-2 .u-icon-2 {
  height: 32px;
}

.u-section-2 .u-icon-3 {
  height: 32px;
}

.u-section-2 .u-icon-4 {
  height: 34px;
}

.u-section-2 .u-icon-5 {
  height: 32px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 453px;
  }

  .u-section-2 .u-shape-1 {
    height: 332px;
    width: 369px;
  }

  .u-section-2 .u-image-1 {
    width: 364px;
    height: 336px;
    margin-top: -390px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 453px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 203px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 339px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    display: inline !important;
  }

  .u-section-2 .u-social-icons-1 {
    min-width: 68px;
    width: 134px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-2 .u-shape-1 {
    height: 243px;
    width: 276px;
  }

  .u-section-2 .u-image-1 {
    width: 276px;
    height: 255px;
    margin-top: -301px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 86px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 222px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 399px;
  }

  .u-section-2 .u-shape-1 {
    height: 310px;
    width: 332px;
    margin-right: 70px;
  }

  .u-section-2 .u-image-1 {
    width: 341px;
    height: 310px;
    margin-top: -368px;
    margin-left: 70px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 342px;
  }

  .u-section-2 .u-shape-1 {
    height: 253px;
    width: 300px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 281px;
    height: 259px;
    margin-top: -285px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 22px;
  }
} .u-section-3 {
  background-image: linear-gradient(#816ba6, #a34ca8);
}

.u-section-3 .u-sheet-1 {
  min-height: 1148px;
}

.u-section-3 .u-list-1 {
  width: 1011px;
  margin: 70px 70px 0 59px;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 30px 30px;
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 242px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-3 .u-group-1 {
  height: auto;
  --radius: 10px;
  min-height: 221px;
  transition-duration: 1s;
  width: 461px;
  margin: 0 0 0 30px;
}

.u-section-3 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-3 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.75);
  margin: 19px auto 0 30px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(var(---r),var(---g),var(---b),0.4);
  padding: 0;
}

.u-section-3 .u-group-2 {
  width: 95px;
  min-height: 33px;
  height: auto;
  --radius: 50px;
  margin: -28px 14px 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 15px 108px 0 30px;
}

.u-section-3 .u-icon-1 {
  width: 23px;
  height: 23px;
  margin: 30px 428px 0 30px;
  padding: 0;
}

.u-section-3 .u-text-4 {
  margin: -23px 277px 0 61px;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-3 .u-group-3 {
  height: auto;
  --radius: 10px;
  min-height: 221px;
  transition-duration: 1s;
  width: 461px;
  margin: 0 0 0 30px;
}

.u-section-3 .u-container-layout-5 {
  padding-bottom: 0;
}

.u-section-3 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.75);
  margin: 19px auto 0 30px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-group-4 {
  width: 95px;
  min-height: 33px;
  height: auto;
  --radius: 50px;
  margin: -28px 14px 0 auto;
}

.u-section-3 .u-text-6 {
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  margin: 15px 108px 0 30px;
}

.u-section-3 .u-icon-2 {
  width: 23px;
  height: 23px;
  margin: 30px 428px 0 30px;
  padding: 0;
}

.u-section-3 .u-text-8 {
  margin: -23px 277px 0 61px;
}

.u-section-3 .u-list-2 {
  width: 1011px;
  margin: 30px auto 0;
}

.u-section-3 .u-repeater-2 {
  grid-gap: 30px 30px;
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 242px;
}

.u-section-3 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-3 .u-group-5 {
  height: auto;
  --radius: 10px;
  min-height: 221px;
  transition-duration: 1s;
  width: 461px;
  margin: 0 0 0 30px;
}

.u-section-3 .u-container-layout-8 {
  padding-bottom: 0;
}

.u-section-3 .u-text-9 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.75);
  margin: 19px auto 0 30px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(var(---r),var(---g),var(---b),0.4);
  padding: 0;
}

.u-section-3 .u-group-6 {
  width: 95px;
  min-height: 33px;
  height: auto;
  --radius: 50px;
  margin: -28px 14px 0 auto;
}

.u-section-3 .u-text-10 {
  margin: 0 auto;
}

.u-section-3 .u-text-11 {
  margin: 15px 108px 0 30px;
}

.u-section-3 .u-icon-3 {
  width: 23px;
  height: 23px;
  margin: 30px 428px 0 30px;
  padding: 0;
}

.u-section-3 .u-text-12 {
  margin: -23px 277px 0 61px;
}

.u-section-3 .u-container-layout-10 {
  padding: 10px 0;
}

.u-section-3 .u-group-7 {
  height: auto;
  --radius: 10px;
  min-height: 221px;
  transition-duration: 1s;
  width: 461px;
  margin: 0 0 0 30px;
}

.u-section-3 .u-container-layout-11 {
  padding-bottom: 0;
}

.u-section-3 .u-text-13 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.75);
  margin: 19px auto 0 30px;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-group-8 {
  width: 95px;
  min-height: 33px;
  height: auto;
  --radius: 50px;
  margin: -28px 14px 0 auto;
}

.u-section-3 .u-text-14 {
  margin: 0 auto;
}

.u-section-3 .u-text-15 {
  margin: 15px 108px 0 30px;
}

.u-section-3 .u-icon-4 {
  width: 23px;
  height: 23px;
  margin: 30px 428px 0 30px;
  padding: 0;
}

.u-section-3 .u-text-16 {
  margin: -23px 277px 0 61px;
}

.u-section-3 .u-btn-5 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  --radius: 10px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 224px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 408px;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 408px;
  }

  .u-section-3 .u-list-2 {
    width: 940px;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 224px;
  }

  .u-section-3 .u-group-5 {
    height: auto;
  }

  .u-section-3 .u-group-6 {
    height: auto;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 408px;
  }

  .u-section-3 .u-group-7 {
    height: auto;
  }

  .u-section-3 .u-group-8 {
    height: auto;
  }

  .u-section-3 .u-icon-4 {
    margin-right: 408px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-list-2 {
    width: 720px;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-group-1 {
    margin-right: 49px;
  }

  .u-section-3 .u-group-2 {
    margin-right: 11px;
  }

  .u-section-3 .u-group-3 {
    margin-right: 49px;
  }

  .u-section-3 .u-group-4 {
    margin-right: 11px;
  }

  .u-section-3 .u-list-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 576px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 8px;
  }

  .u-section-3 .u-group-1 {
    min-height: 255px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-2 {
    margin-top: 152px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -155px;
    margin-right: 15px;
    margin-left: 32px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 52px;
    margin-right: 298px;
    margin-left: 15px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -24px;
    margin-right: 173px;
    margin-left: 45px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 8px;
  }

  .u-section-3 .u-group-3 {
    min-height: 261px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-4 {
    margin-top: 152px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: -155px;
    margin-right: 15px;
    margin-left: 32px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 52px;
    margin-right: 298px;
    margin-left: 15px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: -24px;
    margin-right: 173px;
    margin-left: 45px;
  }

  .u-section-3 .u-list-2 {
    margin-top: 864px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-11 {
    margin-right: 17px;
    margin-left: 0;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 317px;
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    margin-right: 217px;
    margin-left: 1px;
  }

  .u-section-3 .u-group-7 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-15 {
    margin-right: 17px;
    margin-left: 0;
  }

  .u-section-3 .u-icon-4 {
    margin-right: 317px;
    margin-left: 0;
  }

  .u-section-3 .u-text-16 {
    margin-right: 217px;
    margin-left: 1px;
  }
}

.u-section-3 .u-group-3,
.u-section-3 .u-group-3:before,
.u-section-3 .u-group-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-3.u-group-3.u-group-3:hover {
  box-shadow: 8px 8px 8px 0px rgba(255,255,255,1) !important;
}

.u-section-3 .u-group-3.u-group-3.u-group-3.hover {
  box-shadow: 8px 8px 8px 0px rgba(255,255,255,1) !important;
}

.u-section-3 .u-group-1,
.u-section-3 .u-group-1:before,
.u-section-3 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-1.u-group-1.u-group-1:hover {
  border-color: #e5e5e5 !important;
  box-shadow: 8px 8px 8px 0px rgba(255,255,255,1) !important;
}

.u-section-3 .u-group-1.u-group-1.u-group-1.hover {
  border-color: #e5e5e5 !important;
  box-shadow: 8px 8px 8px 0px rgba(255,255,255,1) !important;
}

.u-section-3 .u-group-5,
.u-section-3 .u-group-5:before,
.u-section-3 .u-group-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-5.u-group-5.u-group-5:hover {
  border-color: #e5e5e5 !important;
  box-shadow: 8px 8px 8px 0px rgba(255,255,255,1) !important;
}

.u-section-3 .u-group-5.u-group-5.u-group-5.hover {
  border-color: #e5e5e5 !important;
  box-shadow: 8px 8px 8px 0px rgba(255,255,255,1) !important;
}

.u-section-3 .u-group-7,
.u-section-3 .u-group-7:before,
.u-section-3 .u-group-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-7.u-group-7.u-group-7:hover {
  box-shadow: 8px 8px 8px 0px rgba(255,255,255,1) !important;
}

.u-section-3 .u-group-7.u-group-7.u-group-7.hover {
  box-shadow: 8px 8px 8px 0px rgba(255,255,255,1) !important;
}.u-backlink {
	display: none;
}